body {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

.start {
    width: 100%;
    height: 100%;
    display: block;
}

.title {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.choose-mode {
    display: inline-block;
}

.choose-difficulty {
    display: none;
}

button, #submit-single-form, #submit-multi-form {
    padding: 10px;
    background-color: rgb(255, 217, 217);
    border-radius: 3px;
    border: none;
    width: 100px;
    margin: 10px;
    box-sizing: content-box;
}

button:hover, #submit-single-form:hover, #submit-multi-form:hover {
    background-color: rgb(255, 245, 245);
}

.form {
    width: 200px;
    display: none;
}

form * {
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

.game {
    display: none;
    text-align: center;
}

.scoreboard div {
    display: inline-block;
    padding: 20px;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    justify-content: center;
}

.square {
    border: 1px solid black;
    font-size: 75px;
    display: flex;
    justify-content: center;

    height: 0;
    padding-bottom: 100%;
    padding-right: 33.33%;
    padding-left: 33.33%;
}

.modal {
    display: none;
    position: fixed;
    left: 25%;
    top: 25%;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.open-modal {
    display: block;
}